
<h1>Overall Status : Success <sup>
    <ac:emoticon ac:name="tick"/>
  </sup>
</h1>
<table class="relative-table" style="width: 30.8721%;">
  <colgroup> <col style="width: 21.2483%;border-color:white;"/> <col style="width: 78.6853%;border-style: none;"/> </colgroup>
  <tbody>
    {{#with summary}}
    <tr>
      <td colspan="1">
        <strong>Collection :</strong>
      </td>
      <td colspan="1">{{collection.name}} </td>
    </tr>
    {{#if collection.description}}
    <tr>
      <td colspan="1">
        <strong>Description :</strong>
      </td>
      <td colspan="1">{{collection.description}}</td>
    </tr>
    {{/if}} 
    {{/with}}  
    <tr>
      <td colspan="1">
        <strong>Executed Time :</strong>
      </td>
      <td colspan="1">{{timestamp}}</td>
    </tr>
  </tbody>
</table>



